.state-homeWelcome   
    .welcome
        h1 {{welcome.message.title}}
        p
            | We're here to help you learn what you struggle with starting with simple math. This website / app is a flash card assimilation for repetetive easy learning, just like when you were in elementary school. Maybe you want a refresher or you just never learned all these skills, but it's okay and we are here to help you do that. Over time the app will learn what you struggle with most and give you a report card / dashboard of all your progress.
        a.button.icon.icon-right.ion-chevron-right.flip(ui-sref="home.pick") Flip