ion-view(view-title='MadnessFlash')
    ion-content.state-home.has-header(padding="true")
        .card
            ui-view(name="card")
            .equation(ng-hide="ctrl.showWelcome" ng-show="ctrl.equationType")
                span {{ctrl.equation}}
            button.button.icon.icon-left.ion-chevron-left.back(ng-show="ctrl.equationType" ng-click="ctrl.equationPick()") Back
            button.button.icon.icon-right.ion-chevron-right.answer(ng-show="ctrl.equationType" ng-click="ctrl.equationAnswer") Answer