.state-homePick
    .pick
        .row
            .col-xs-6
                a.button.button-clear.icon.ion-plus(ui-sref="home.equation({type: 'addition'})") Addition
            .col-xs-6
                a.button.button-clear.icon.ion-minus(ui-sref="home.equation({type: 'subtraction'})") Subtraction
            .col-xs-6
                a.button.button-clear.icon.ion-asterisk(ui-sref="home.equation({type: 'multiplication'})") Multiplication
            .col-xs-6
                a.button.button-clear.icon(ui-sref="home.equation(type: {'division'})") / Division
    a.button.icon.icon-left.ion-chevron-left.back(ui-sref="home.welcome") Back 
