// IMPORTS
@import "../variables";

// PAGE STYLES
.popover-profileLogin{

    height: 162px;
    
    .google{
        position: absolute;
        left: 20px;
    }
    .ion-android-checkbox-outline.googleCheckbox{
        color: #dd4b39;
    }
    .facebook{
        color: #3b5998;
    }
    .ion-android-checkbox-outline.facebookCheckbox{
        color: #3b5998;
    }
    .twitter{
        color: #00aced;
    }
    .ion-android-checkbox-outline.twitterCheckbox{
        color: #00aced;
    }
    h2{
        padding-left: 20px;
    }

    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}