ion-popover-view.popover-profileLogin
    ion-list
        .item.item-icon-left.item-icon-right
            i.icon.ion-social-googleplus.google 
            h2 Google
            i.icon.googleCheckbox(ng-class="{'ion-android-checkbox-outline-blank': active !== 0, 'ion-android-checkbox-outline': active == 0}" ng-click="active = 0")
        .item.item-icon-left.item-icon-right
            i.icon.ion-social-facebook.facebook
            h2 Facebook
            i.icon.ion-android-checkbox-outline-blank.facebookCheckbox(ng-class="{'ion-android-checkbox-outline-blank': active !== 1, 'ion-android-checkbox-outline': active == 1}" ng-click="active = 1")
        .item.item-icon-left.item-icon-right
            i.icon.ion-social-twitter.twitter
            h2 Twitter
            i.icon.ion-android-checkbox-outline-blank.twitterCheckbox(ng-class="{'ion-android-checkbox-outline-blank': active !== 2, 'ion-android-checkbox-outline': active == 2}" ng-click="active = 2")