// IMPORTS
@import "../variables";

// PAGE STYLES
.state-home{
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
    .container{
        display: flex;
        .welcome{
            background-color: grey;
            padding: 10px;
            h1{
                text-align: center;
                color: white;
            }
            p{
                text-align: center;
                font-size: 20px;
                color: white;
            }
            //ul{
            ///}
        }
        .equation{
            background-color: grey;
            span{
                margin-top: 10px;
                margin-left: 30%;
                font-size: 60px;
                display: block;
                width: 100%;
            }
        }
        button{
            bottom: 1px;
            right: 10px;
            font-size: 30px;
            position: absolute;
            flex-flow: wrap;
        } 
    }
    
}