// IMPORTS
@import "../variables";

// PAGE STYLES
.state-homePick{
    .pick{
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 40px;
        color: #737373;
        .col-xs-6{
            a{
                height: 170px;
                max-height: none;
                display: block;
                width: 100%;
                font-size: 60px;
                color: #444;
                padding: 20px 0px;
                margin: 0 auto;
                i{
                    padding: 20px 0;
                    display: block;
                    margin: 0 auto;
                    &:before {
                        font-size: 60px;
                    }
                }
                span{
                    display: inline-block;
                    margin: 0 auto;    
                }
            }             
        }
    }
    .back{
        border-radius: 0px;
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: #D1AA2F;
        color: #ffffff;
    }

    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {
        .pick{
            .col-xs-6{
                a{
                    span{
                        display: none;
                    }
                }   
            }
        }
    }

    @media (max-width: $screen-sm) {
     
    }

    @media (max-width: $screen-xs) {

    }
}