// IMPORTS
@import "../variables";

// PAGE STYLES
.state-homeProfile{
    img{
        max-height: 200px;
        max-width: 200px;
        padding: 15px;
    }
    h1{
        color: #666;
        padding-bottom: 15px;
    }
    .item.points{
        border-top: 1px solid;
        border-color: #ddd;
    }
    .pick{
        padding: 0;
        color: #737373;
        text-align: center;
        .col-xs-6{
            //height: 100px;
            .count{
                position: relative;
                padding-right: 30px;
                .icon{
                    text-align: center;
                    display: inline-block;
                    font-size: 60px;
                    color: #666;
                    &:before {
                        color: #666;
                        font-size: 60px;
                    }
                    &.slash{
                        width: 60px;
                        padding-top: 20px;
                    }
                }
                span{
                    font-size: 30px;
                    color: #D1AA2F;
                    position: absolute;
                    padding-left: 15px;
                    padding-right: 15px;
                    top: 0px;
                }
            }
        }
    }
    a.more{
        color: #666666;
        display: -webkit-box;
    } 
    
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }  
}