// IMPORTS
@import "../variables";

// PAGE STYLES
.page-login {

    position: absolute;
    
    .google{
        position: absolute;
        right: 25px;
    }
    .facebook{
        color: #3b5998;
        right: 20px;
    }
    .twitter{
        color: #00aced;
        right: 20px;
    }
    h2{
        padding-left: 20px;
    }

    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}