.state-homeProfile
    .form
        ion-item.item-image
            img(ng-src="{{ctrl.user.photo}}" alt="Provider has no Image") 
            h1 {{ctrl.user.name}}
        ion-list
            ion-item.item-divider.points Points
            ion-item
                .pick
                    .row
                        .col-xs-6
                            .count
                                i.icon.ion-plus
                                span {{ctrl.user.points.addition}}
                        .col-xs-6
                            .count
                                i.icon.ion-minus
                                span {{ctrl.user.points.subtraction}}
                        .col-xs-6
                            .count
                                i.icon.ion-asterisk
                                span {{ctrl.user.points.multiplication}}
                        .col-xs-6
                            .count
                                i.icon.slash /
                                span {{ctrl.user.points.division}}
            ion-item.item-divider Information
            ion-item.item-input.item-stacked-label.item-icon-right
                h2.login Login
                .provider    
                    span {{ctrl.user.provider}}
            ion-item.item-toggle
                | Random Numbers
                label.toggle.toggle-positive
                    input(type="checkbox" ng-model="ctrl.user.randomize")
                    .track
                        .handle
    button.button.button-full.button-outline.icon.icon-right.ion-log-out(ng-click="profile.logout()") Logout
