.state-homeEquation
    .equation
        span {{equation.equation}}
    a.button.icon.icon-left.ion-chevron-left.back(ui-sref="home.pick") Back
    a.button.icon.icon-right.ion-chevron-right.answer(ng-click="ctrl.makeGuess()") Answer
    .form
        input.guess(type="number" placeholder="3" required="" ng-model="ctrl.guess" ng-class="{'right': ctrl.answer == ctrl.guess, 'wrong': ctrl.answer != ctrl.guess}")