.state-homeAnswer
    .equation
        span {{ctrl.answer}}
    a.button.icon.icon-left.ion-chevron-left.back(ui-sref="home.equation({type: ctrl.type})" ng-click="ctrl.reset()") Back
    a.button.icon.icon-right.ion-chevron-right.next(ui-sref="home.equation({type: ctrl.type})") Next