.state-homeProfile
    .form
        ion-item.item-image
            img(src="img/icon.png" alt="" ng-click="profile.setData()")
            h1 EmJ
        ion-list
            ion-item.item-divider.points Points
            ion-item
                .pick
                    .row
                        .col-xs-6
                            .count
                                i.icon.ion-plus
                                span 20
                        .col-xs-6
                            .count
                                i.icon.ion-minus
                                span 10
                        .col-xs-6
                            .count
                                i.icon.ion-asterisk
                                span 5
                        .col-xs-6
                            .count
                                i.icon.slash /
                                span 2
            ion-item.item-divider Information
            ion-item.item-input.item-stacked-label
                label.input-label(for="nickname") Nickname
                input#nickname(type="text" placeholder="EmJ")
            ion-item.item-input.item-stacked-label.item-icon-right
                h2.login Login
                .provider    
                    span Google
            ion-item.item-toggle
                | Random Numbers
                label.toggle.toggle-positive
                    input(type="checkbox" ng-model="ctrl.user.randomize")
                    .track
                        .handle
