.state-homePick
    .pick
        .row
            .col-xs-6
                a.button.button-clear(ui-sref="home.equation({type: 'addition'})" ng-click="ctrl.setType('addition')")
                    i.icon.ion-plus 
                    span Addition
            .col-xs-6
                a.button.button-clear(ui-sref="home.equation({type: 'subtraction'})" ng-click="ctrl.setType('subtraction')")
                    i.icon.ion-minus 
                    span Subtraction
            .col-xs-6
                a.button.button-clear(ui-sref="home.equation({type: 'multiplication'})" ng-click="ctrl.setType('multiplication')") 
                    i.icon.ion-asterisk
                    span Multiplication                          
            .col-xs-6
                a.button.button-clear(ui-sref="home.equation({type: 'division'})" ng-click="ctrl.setType('division')")
                    i.icon /
                    span Division
    a.button.icon.icon-left.ion-chevron-left.back(ui-sref="home.welcome") Back 
